<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399856873116-kd1kog8oae07drk7oush5718mv25vvf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399856873116-kd1kog8oae07drk7oush5718mv25vvf0</string>
	<key>API_KEY</key>
	<string>AIzaSyAdBJxE2Ecc2PzKJR7NNUAVV1cRvdqptlA</string>
	<key>GCM_SENDER_ID</key>
	<string>399856873116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spaceranger.newnew</string>
	<key>PROJECT_ID</key>
	<string>newnew-project-691bf</string>
	<key>STORAGE_BUCKET</key>
	<string>newnew-project-691bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399856873116:ios:4b0070e135534c6d6e8759</string>
	<key>DATABASE_URL</key>
	<string>https://newnew-project-691bf.firebaseio.com</string>
</dict>
</plist>